<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="yh.org.shunqinglib">

    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 写 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 读取 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- WIFI状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 获取位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application>
        <!--<service-->
            <!--android:name="com.baidu.location.f"-->
            <!--android:enabled="true"-->
            <!--android:process=":remote">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.baidu.location.service_v2.2">-->
                <!--</action>-->
            <!--</intent-filter>-->
        <!--</service>-->
        <service android:name="com.amap.api.location.APSService"></service>
        <!-- 执行监听 -->
        <activity android:name=".aty.ZxJtActivity"/>
        <!-- 定位百度地图 -->
        <!-- 定位高德地图 -->
        <activity android:name=".aty.LocationByGDActivity"/>
        <!-- 定位高德地图 守护365 -->
        <activity android:name=".aty.LocationByGD2Activity"/>
        <!-- 指定拨号 -->
        <activity android:name=".aty.ZdBhActivity"/>
        <!-- 定位时段 -->
        <activity android:name=".aty.DwSdActivity"/>
        <!-- 添加定位时段 -->
        <activity android:name=".aty.DwSdAddActivity"/>
        <!-- 编辑定位时段 -->
        <activity android:name=".aty.DwSdEditActivity"/>
        <!-- 允许呼入 -->
        <activity android:name=".aty.YxFrActivity"/>
        <!-- 免打扰时段 -->
        <activity android:name=".aty.MdrSdActivity"/>
        <!-- 编辑免打扰时段 -->
        <activity android:name=".aty.MdrSdEditActivity"/>
        <!-- 添加免打扰时段 -->
        <activity android:name=".aty.MdrSdAddActivity"/>
        <!-- 定位记录 -->
        <activity android:name=".aty.DwJlActivity"/>
        <!-- 闹钟 -->
        <activity android:name=".aty.NzActivity"/>
        <!-- 添加闹钟 -->
        <activity android:name=".aty.NzAddActivity"/>
        <!-- 编辑闹钟 -->
        <activity android:name=".aty.NzEditActivity"/>
        <!-- 基本设置 -->
        <activity android:name=".aty.JbSzActivity"/>
        <activity android:name=".aty.JbSz365Activity"/>
        <!-- 基本设置 -->
        <activity android:name=".aty.SzActivity"/>
        <!-- 添加设备 -->
        <activity android:name=".aty.AddTerminalActivity"/>
    </application>

</manifest>